Real Estate Inquiry.json
{
  "name": "Real Estate Inquiry",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1MZqsPWhwOsILrNvYfGROIQFW3e14CoFTMCiV3dMcy0A",
          "mode": "list",
          "cachedResultName": "Real Estate Inquiry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MZqsPWhwOsILrNvYfGROIQFW3e14CoFTMCiV3dMcy0A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1512087816,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MZqsPWhwOsILrNvYfGROIQFW3e14CoFTMCiV3dMcy0A/edit#gid=1512087816"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        -448
      ],
      "id": "634a86c9-8103-4832-8c20-05886bcc3528",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ZNekfs7hdBuik0gP",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df519e97-90de-4f37-b195-e6142e4dfe91",
              "name": "buyer_name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "32db4816-edac-40e4-a6d2-62523334602a",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "d7266089-fe9d-4bd0-acb4-65750f3c1b9d",
              "name": "bedrooms",
              "value": "={{ $json['Bedrooms'] }}",
              "type": "number"
            },
            {
              "id": "cf39bba3-d516-4afc-b804-03c3e65c0738",
              "name": "location",
              "value": "={{ $json.Location }}",
              "type": "string"
            },
            {
              "id": "2f088bda-adad-46c0-a954-b8b6ab3b1f13",
              "name": "property",
              "value": "={{ $json.Property }}",
              "type": "string"
            },
            {
              "id": "5351ea20-30c7-41a7-8ecc-4578e82aadba",
              "name": "type",
              "value": "={{ $json.Type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        -448
      ],
      "id": "f6fdc66b-77fe-4b8a-b4cd-526643863653",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xc5I8jm6gpTSlpazWfvCexQiVBiRTx6wi1rhqHjbpNY",
          "mode": "list",
          "cachedResultName": "Real Estate Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xc5I8jm6gpTSlpazWfvCexQiVBiRTx6wi1rhqHjbpNY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1267342551,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xc5I8jm6gpTSlpazWfvCexQiVBiRTx6wi1rhqHjbpNY/edit#gid=1267342551"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Available"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        -448
      ],
      "id": "7645c975-76c0-47c6-9118-513d547eb961",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WxMC3yyZMF67yHVc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Google Sheets Trigger').item.json;\n\nconst matches = items.filter(item => {\n  const listing = item.json;\n  \n  const listPrice = parseFloat(listing.Price);\n  const maxBudget = parseFloat(lead.Budget_Max);\n  const listBedrooms = parseInt(listing.Bedrooms);\n  const reqBedrooms = parseInt(lead.Bedrooms);\n  const budget_min = parseInt($('Google Sheets Trigger').first().json.Budget_Min)\n  const budget_max = parseInt($('Google Sheets Trigger').first().json.Budget_Max)\n  return listing.Location.toLowerCase().trim() === lead.Location.toLowerCase().trim() &&\n         listPrice <= maxBudget &&\n         listBedrooms >= reqBedrooms;\n});\n\nif (matches.length === 0) {\n  return [{ json: { combined_list: \"No matching properties found.\", match_count: 0, lead_name: lead.Name } }];\n}\n\n\nconst summary = matches.map((m, index) => {\n  const l = m.json;\n  return `\nPROPERTY #${index + 1}:\n- ID: ${l['Property ID']}\n- Category: ${l.Property}\n- Price: ${l.Price}\n- Location: ${l.Location}\n- Bedrooms: ${l.Bedrooms}\n- Status: ${l.Status}\n- Agent: ${l['Agent Name']}\n- URL: ${l['Listing URL']}\n-------------------------`;\n}).join('\\n');\n\n// 5. Output ONE item with everything bundled\nreturn [{\n  json: {\n    combined_list: summary,\n    match_count: matches.length,\n    // Including all lead info too so it's handy\n    lead_name: lead.Name,\n    lead_email: lead.Email,\n    min_budget: $('Google Sheets Trigger').first().json.Budget_Min,\n    max_budget: $('Google Sheets Trigger').first().json.Budget_Max,\n    property_price: $input.first().json.Price,\n    property_agent: $input.first().json['Agent Name'],\n    property_bedrooms: $input.first().json.Bedrooms,\n    lead_phone: lead.Phone_Number,\n\n    requested_location: lead.Location,\n    requested_category: lead.Property\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -448
      ],
      "id": "81616493-9639-42f0-9208-953a33ae2743",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.1:latest",
          "mode": "list",
          "cachedResultName": "llama3.1:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Subject: Multiple Property Options Available in {{$json.lead_location || \"Chicago\"}}\n\nDear {{$json.lead_name}},\n\nI hope you are doing well.\n\nBased on your interest in residential properties in {{$json.requested_location}} and your budget preferences, I’m happy to share that we currently have several properties that match your criteria.\n\nHere are a few options you may find interesting:\n\n{{ $json.combined_list }}\n\nThese properties align well with your preferred location and budget range.  \nIf any of them stand out to you, I would be happy to arrange a viewing or provide more detailed information.\n\nPlease let me know which option interests you most, or if you’d like me to share additional listings that better fit your needs.\n\nBest regards,  \n{{$json.property_agent || \"Your Real Estate Agent\"}}\n"
            }
          ]
        },
        "options": {
          "system": "You are a professional real estate email assistant.\n\nYou must strictly follow these rules:\n- Output ONLY the final email content\n- Do not add explanations, headings, or commentary\n- Do not mention that the email was revised or generated\n- Do not include markdown formatting\n- Begin directly with \"Subject:\"\n- End with the agent’s signature\n\nThe output must be a complete, client-ready email.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -1152,
        -208
      ],
      "id": "e6efdc30-beba-41cd-8da7-a87f8594ab68",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "zhhmPml3SEpmtvbH",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.lead_email }}",
        "subject": "PROPERTY UPDATES",
        "emailType": "text",
        "message": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -768,
        -208
      ],
      "id": "7414c1d5-b66e-466c-b2aa-abd73e309416",
      "name": "Send a message",
      "webhookId": "5d61452d-bcdf-46f8-81bd-d8d46cab4fcc",
      "credentials": {
        "gmailOAuth2": {
          "id": "1Rz4iBTPcO4yGO09",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1P-36jfIDgdPb2V31pNgE5diLkNrVzZF1CtcmjR2MshQ",
          "mode": "list",
          "cachedResultName": "Estate Inquiry Replied",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-36jfIDgdPb2V31pNgE5diLkNrVzZF1CtcmjR2MshQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-36jfIDgdPb2V31pNgE5diLkNrVzZF1CtcmjR2MshQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Code in JavaScript').item.json.lead_name }}",
            "Email": "={{ $('Code in JavaScript').item.json.lead_email }}",
            "Min Budget": "={{ $('Code in JavaScript').item.json.min_budget }}",
            "Max Budget": "={{ $('Code in JavaScript').item.json.max_budget }}",
            "Location": "={{ $('Code in JavaScript').item.json.requested_location }}",
            "Contact": "={{ $('Code in JavaScript').item.json.lead_phone }}",
            "Properties": "={{ $('Code in JavaScript').item.json.combined_list }}",
            "agent": "={{ $('Code in JavaScript').item.json.property_agent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Min Budget",
              "displayName": "Min Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Max Budget",
              "displayName": "Max Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Properties",
              "displayName": "Properties",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent",
              "displayName": "agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -464,
        -208
      ],
      "id": "d35f197d-cb43-4ef2-9096-84cb844b6c1e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WxMC3yyZMF67yHVc",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8b587f8-195a-4f82-9f79-76f33473658d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78e63da62dc2c179f68c9f6693c681971ceb742a121fcc264d591138a8f86c64"
  },
  "id": "BQfRSCo1oRKMoLoi",
  "tags": []
}
